section.activity.container
  h2.activity__title What we do to help our client grow in digital era
  ul.activity__content
    li.activity__item
      img(src="assets/img/item1.svg" alt="img").activity__img.bigClientImg
      h3.activity__header Bring Technology To Your Comfrotable Home
      p.activity__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      a(href="#").activity__link Learn more
        img(src="assets/icons/arrowIcon.svg", alt="arrow")
    li.activity__item
      img(src="assets/img/item2.svg" alt="img").activity__img
      h3.activity__header Make Your business To Be Better Famous In Internet
      p.activity__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      a(href="#").activity__link Learn more
        img(src="assets/icons/arrowIcon.svg", alt="arrow")
    li.activity__item
      img(src="assets/img/item3.svg" alt="img").activity__img.smallClientImg
      h3.activity__header Build Your Digital Product That Suitable For Your Need
      p.activity__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      a(href="#").activity__link Learn more
        img(src="assets/icons/arrowIcon.svg", alt="arrow")
