.hero {
  --heroHeight: 85rem;
  --heroAfterHeight: 97.5rem;
  --heroAfterOpacity: 0.2;

  --heroTitleWidth: 63.75rem;
  --heroTitlePaddingTop: 12.625rem;
  --heroTitleFontSize: 4.75rem;
  --heroTitleLineHeight: 5.625rem;

  --heroSubtitleWidth: 53.125rem;
  --heroSubtitlePaddingTop: 5.25rem;
  --heroSubtitleOpacity: 0.6;
  --heroSubtitleFontSize: 1.75rem;
  --heroSubtitleLetterSpacing: 0.04em;

  --heroImgLeft: 48%;
  --heroImgTop: -60.625rem;
  --heroImgMaxWidth: 687px;

  --heroBtnMarginTop: 9.375rem;
  --heroBtnLetterSpacing: 0.05rem;
  max-height: var(--heroHeight);
  color: var(--colorYaleBlue);

  @media (width <= 1023px) {
    display: flex;
    flex-direction: column;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__img {
    position: relative;
    left: var(--heroImgLeft);
    top: var(--heroImgTop);
    z-index: -1;
    width: 100%;
    max-width: var(--heroImgMaxWidth);
    height: auto;
    object-fit: cover;

    @media (width <= 1350px) {
      --heroImgTop: -49.125rem;
      --heroImgMaxWidth: 50%;
    }

    @media (width <= 1023px) {
      --heroImgMaxWidth: 40%;
      --heroImgLeft: 50%;
      --heroImgTop: -26.25rem;
      transform: translate(-50%, -50%);
    }

    @media (width <= 767px) {
      --heroImgMaxWidth: 55%;
      --heroImgTop: -23.75rem;
    }

    @media (width <= 540px) {
      --heroImgMaxWidth: 60%;
    }
  }

  &__title {
    max-width: var(--heroTitleWidth);
    padding-top: var(--heroTitlePaddingTop);
    @media (width <= 1023px) {
      --heroTitlePaddingTop: 1.375rem;
      text-align: center;
    }

    @media (width <= 767px) {
      font-size: var(--heroTitleFontSize);
      line-height: var(--heroTitleLineHeight);
    }

    @media (width <= 540px) {
      --heroTitleWidth: 80%;
    }
  }

  &__subtitle {
    max-width: var(--heroSubtitleWidth);
    padding-top: var(--heroSubtitlePaddingTop);
    opacity: var(--heroSubtitleOpacity);
    @media (width <= 1023px) {
      --heroSubtitleWidth: 80%;
      --heroSubtitlePaddingTop: 5.25rem;
      text-align: center;
    }

    @media (width <= 540px) {
      font-size: var(--heroSubtitleFontSize);
      letter-spacing: var(--heroSubtitleLetterSpacing);
    }
  }

  &__btn {
    margin-top: var(--heroBtnMarginTop);
    letter-spacing: var(--heroBtnLetterSpacing);
    @media (width <= 1023px) {
      --heroBtnMarginTop: 43.75rem;
    }

    @media (width <= 767px) {
      --heroBtnMarginTop: 40rem;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    width: 100%;
    height: var(--heroAfterHeight);
    background: var(--gradient);
    opacity: var(--heroAfterOpacity);
  }
}
