.modalError.hidden(data-js-modal="modalError")
  .modalError__container
    span.modalError__closeBtn(data-js-modal-close) &times;
    .modalError__wrapper
      h3.modalError__title Something went wrong...