.header {
  --headerWidth: 150rem;
  --headerHeight: 6rem;
  --headerMarginTop: 5rem;
  --headerButtonWidth: 4rem;
  --headerButtonHeight: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--headerWidth);
  height: var(--headerHeight);
  margin: auto;
  margin-top: var(--headerMarginTop);

  &__button {
    width: var(--headerButtonWidth);
    height: var(--headerButtonHeight);
  }
}
