.header {
  --headerWidth: 150rem;
  --headerHeight: 6rem;
  --headerMarginTop: 5rem;
  --headerButtonWidth: 4rem;
  --headerButtonHeight: 4rem;
  --headerPadding: 2.5rem;
  --headerMarginTopLapTop: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--headerWidth);
  height: var(--headerHeight);
  margin: auto;
  margin-top: var(--headerMarginTop);

  &__button {
    width: var(--headerButtonWidth);
    height: var(--headerButtonHeight);
  }
}

@media (width <= 1350px) {
  .header {
    padding-inline: var(--headerPadding);
    margin-top: var(--headerMarginTopLapTop);
  }
}
