:root {
  --colorGrape: #600fa3;
  --colorBlueGray: #5a98d0;
  --colorWhite: #fff;
  --colorLapisLazuli: #316099;
  --colorYaleBlue: #1f3f68;

  --gradient: linear-gradient(
    0deg,
    #98c3e8 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );

  --modalBackgroundColor: rgba(0, 0, 0, 0.4);

  --colorBlue: var(--colorLapisLazuli);
}
