.bigClientImg {
  margin-top: -73px;
}

.smallClientImg {
  padding-left: 20px;
}

.itemA {
  &::before {
    content: "A.";
  }
}

.itemT {
  &::before {
    content: "T.";
  }
}

.itemE {
  &::before {
    content: "E";
  }
}

.textAreaError {
  position: absolute;
  top: 180px;
  color: rgb(170, 28, 28);
}

.inputError {
  position: absolute;
  top: 100px;
  color: rgb(170, 28, 28);
}
