footer.footer
  .container.footer__wrapper
    .footer__head
      .footer__info
        h2.footer__title Intersted to work with our team?
        p.footer__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      button.footer__btn.button(type='button', data-js-modal-button="contact") Let’s Talk
    .footer__content
      .footer__contacts
        a(href="#")
          .footer__logo
            img.footer__img(src="assets/icons/footerLogo.svg", alt="Logo")
            h2.footer__name Afrianska
        ul.footer__contactsList
          li.footer__contactsItem.itemA
            a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          li.footer__contactsItem.itemT
            a(href="tel:+6281273134321") +62-812-7313-4321
          li.footer__contactsItem.itemE
            a(href="mailto:hello.afrian@gmail.com") hello.afrian@gmail.com
      .footer__about
        ul
          li.footer__list-title About US
          li.footer__list-item
            a(href="#") About
          li.footer__list-item
            a(href="") What We Do
          li.footer__list-item
            a(href="#") Project
          li.footer__list-item
            a(href="#") How It Work With Us
      .footer__follow
        ul
          li.footer__list-title Follow US
          li.footer__list-item
            a(href="#") Instagram
          li.footer__list-item
            a(href="#") Facebook
          li.footer__list-item
            a(href="#") LinkedIn
          li.footer__list-item
            a(href="#") Youtube
  .footer__copyright 2019 Afrianska. All rights reserved
